html * {
    box-sizing : border-box;
    margin     : 0;
}

body {
    background-color : #74c9de;
}

h1 {
    text-align : center;
    margin     : 1em;
}

.animals {
    display  : block;
    margin   : 0 auto;
    position : absolute;
}

.container {
    position : relative;
    width    : 1240px;
    height   : 726px;
    margin   : 0 auto;
}

#bubble {
    display          : none;
    z-index          : 1;
    position         : absolute;
    left             : 320px;
    width            : 789px;
    height           : 466px;
    background-image : url("../images/bubble.png");
    padding          : 3em 2.5em 0 7em;
}

#bubble p {
    overflow-wrap : break-word;
    overflow      : auto;
    display       : block;
    height        : 220px;
    text-align    : center;
    font-size     : x-large;
    margin-top    : 10px;
}

#cat {
    display : none;
}

#dog {
    display : none;
}

#horse {
    display : none;
}